########################################
# .NET
########################################

bin/
obj/

########################################
# Visual Studio
########################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

########################################
# Rider / VS Code
########################################

.idea/
.vscode/

########################################
# NuGet
########################################

*.nupkg
packages/

########################################
# Logs
########################################

*.log

########################################
# OS Files
########################################

.DS_Store
Thumbs.db

########################################
# SQL Server LocalDB
########################################

*.mdf
*.ldf

########################################
# Environment Files
########################################

.env
.env.*

########################################
# Node / Angular (for later)
########################################

node_modules/
dist/
.angular/
coverage/

########################################
# Publish
########################################

publish/

########################################
# Temporary
########################################

Temp/
tmp/